<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICommandService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://wcf-trading.somee.com/CommandService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICommandService"
                contract="CommandServiceReference.ICommandService" name="BasicHttpBinding_ICommandService" />
        </client>
    </system.serviceModel>
</configuration>